body{
    /* background-color: black; */
}
img{
    width: 30vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
}
.far h1{
    font-style: normal;
    text-decoration: underline;
}
.far p{
font-size: 30px;
}
.image{
    float: right;
}