body{
    /* background-color: black; */
}
img{
    width: 30vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
}
.far h1{
    font-style: normal;
    text-decoration: underline;
    font-weight: 600;
}
.far p{
font-size: 30px;
border: 1px solid black;
margin-left: 500px;
width: 50%;
height: 40%;
}
.image{
    float: left;
    border: 1px solid black;
    margin-top: -250px;
}
#form{
    border: 1px solid black; 
    height: 300%;
}